@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,200&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
                                     color-profile{ grijs #899CA0  donkergroen #1C2B32
//////////color-profile{ grijs #899CA0  donkergroen #1C2B32}///////////////////////
//////////////1. Global Styles/////////////////////////*/


/* Rounded border */
hr.rounded {

    color: #899CA0;
    border-radius: 4px;
    width: 80%;
    offset-before: auto;
    opacity: revert;


}


/*////////////////////////////////2. FONTS///////////////////////////////////////*/


h1 {
    font-family: Poppins, sans-serif;
    color: Black;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
}

h2 {
    font-family: Poppins, sans-serif;
    color: Black;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

h4 {
    font-family: Poppins, sans-serif;
    color: Black;
    font-weight: 600;
    padding: 1px;
    font-size: 18px;
}

h5 {
    font-family: Poppins, sans-serif;
    color: White;
    font-weight: 600;
    font-size: 12px;
}

h6 {
    font-family: Poppins, sans-serif;
    color: Black;
    font-weight: 100;
    font-style: italic;
    font-size: 8px;
}

p {
    font-family: Poppins, sans-serif;
    color: Black;
    font-weight: 600;
    font-size: 10px;
}

/*////////////////////////3.Areas////////////////////////*/


/*///////////// 3.1 Header /////////////*/
.header {

    background-image: url("../assets/images/mountains.jpg");
    Width: 100%;
    background-size: cover;
    background-position: top;
}

.minuut {
    font-style: oblique;
    padding: 2px;
    letter-spacing: 3px;
}

.data {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 500px 0;
}

.form {

    color: #1b1c1c;
    padding: 18px 16px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    border-image-width: 1px;
    border-color: #1C2B32;
    background-color: transparent;
}

.check {
    color: #FFFFFF;
    padding: 20px 18px;
    border: #1C2B32;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    background: #1C2B32;

}


/*///////////// 3.2 Testimonial /////////////*/
.Testimonials {
    margin: 20px;
    padding-top: 20px;
    font-family: 'Poppins', SansSerif;
    align-content: center;
    text-align: center;


}

.img {
    vertical-align: middle;
}

.janedoe {
    position: relative;
    font-weight: 300;

}

.goleft {
    margin-right: 700px;
    font-weight: 100;
    font-style: italic;
    font-size: 8px;

}

.goleftjohn {
    margin-right: 700px;
    border-radius: 16px;
    font-weight: 100;
    font-style: italic;
    font-size: 8px;
}

.johnsmith {
    position: relative;
    font-weight: 300;

}

/*///////////// 3.3 Support /////////////*/
.support {


    font-style: normal;

    horiz-align: center;
    text-align: center;
}

.support {
    padding: 40px 1px 30px 0;
    letter-spacing: 3px;
}

.support img {
    border-radius: 20px;
    position: relative;
    width: 60%;
    max-height: 60%;

}

/*--button---*/
.default-button {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    background: #1b1c1c;
    text-align: center;
    border-radius: 16px;
    border-color: #1C2B32;
    padding: 1em;

}


/*///////////// 3.4 Faq /////////////*/


.faq {

    font-family: inherit;
    font-style: normal;
    vertical-align: center;
}


.gray {
    background-color: #899CA0;
    border-radius: 10px;
    padding: 8px 4px 8px 4px;
}

.summary {
    font-family: Poppins, sans-serif;
    color: #1C2B32;
    font-weight: 400;
    font-size: 10px;


}

/*///////////// 3.5 Footer /////////////*/


.footer {
    background-color: #1C2B32;
    padding-top: 8px;
    padding-bottom: 18px;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin: 6.5% 0 0 0;


}


/*////////////////// That's All Folks! //////////////////*/




